@import 'global.css';

@media only screen and (max-width: 600px) {

    
}

@media only screen and (min-width: 600px) {
    body {
        background-color: tan;
      }

    .contenedor{
        width: 900px;
        background-color: aqua;
        height: 100%;

        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;

    }
    
    .pie{
        width: 200px;
        float:left;
    }
    
    .descripcion{
        height: 200px;
    }
    
    .botonEnviar{
        text-align: center;
        font-size: 12px;
        font-family: arial;
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
        color:white;
        padding: 5px 5px 5px 5px;
        width:100px;
        float:right;
        background-color: red;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }
    
    .botonEnviar:hover{
        text-align: center;
        font-size: 12px;
        font-family: arial;
        font-weight: bold;
        text-decoration: none;
        font-style: normal;
        color:white;
        padding: 5px 5px 5px 5px;
        width:100px;
        float:right;
        background-color: orangered;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }    
}
