.contenedor
{

  width: 70%;
  background-color: yellow;
}
.row{
  width: 100%;
  float:left;
}
.column{
  width: 33.33%;
  float: left;
}

.botonEnviar{
  background-color: red;
  font-family: Arial;
  font-weight: bold;
  text-align:center;
  font-size: 14px;
  color:white;
  padding: 10px 20px 10px 20px;
  width: 50px;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

}

.botonEnviar:hover{
  background-color: red;
  font-family: Arial;
  font-weight: bold;
  text-align:center;
  font-size: 14px;
  color:white;
  padding: 10px 20px 10px 20px;
  width: 50px;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;


  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;

}

.cajaInterna{
  width: 100px;
height: 50px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #000000;

  border-color: blue;

}
