
    <section class="container-fluid">
       
      <div class="row">
          <div class="col-sm-6 col-md-3">
            <a target="_blank" href="https://www.linkedin.com/in/luis-correa-36477a1b7/">
            <img src="w3images/Luis_Correa.jpg" style="width:100%">
            </a>
            <h3>Luis Correa</h3>
            <p>Ingeniero en Computación</p>
            <p>Soy un ingeniero en computación. Mis objetivos son responsabilidad, creatividad, voluntad de saber, proactividad y trabajo en equipo..</p>
          </div>
      </div>
  </section>
  
<!-- Page content -->
<section class="container-fluid" style="max-width:1564px">    
  <h1 style="text-align:center;">Ingeniería en Computación</h1>
  <h2>
  PROYECTOS
  </h2>
  <h3>
      <ul>
          <li>Levantamientos</li>
          <li>Documentos</li>
          <li>Diseño de diagramas UML</li>
      </ul>
  </h3>
  <h2>
  ASESORÍA (A nivel nacional)
  </h2>
  <h3>
      <ul>
          <li>Levantamientos</li>
          <li>Presupuestos</li>
          <li>Programas de trabajo</li>
      </ul>
  </h3>
</section>

<!-- Page content -->
<section class="container-fluid" style="max-width:1564px">
  <h2 style="text-align: center;">Trabajo de grado</h2>
  <br>
  <hr>
  <div class="row">
      <div class="col-sm-6 col-md-3">
        <div>Summer House</div>
        <img src="w3images/house5.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div>Brick House</div>
        <img src="w3images/house2.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="w3images/house3.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div>Barn House</div>
        <img src="w3images/house4.jpg" style="width:100%">
      </div>
  </div>
  <h2 style="text-align: center;">Experiencia</h2>
  <br>
  <hr>
  <div class="row">
      <div class="col-sm-6 col-md-3">
        <div>Summer House</div>
        <img src="w3images/house5.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div>Brick House</div>
        <img src="w3images/house2.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="w3images/house3.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div>Barn House</div>
        <img src="w3images/house4.jpg" style="width:100%">
      </div>
  </div>
  <h2 style="text-align: center;">Proyectos Realizados</h2>
  <br>
  <hr>
  <div class="row">
      <div class="col-sm-6 col-md-3">
        <div>Summer House</div>
        <img src="w3images/house5.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div>Brick House</div>
        <img src="w3images/house2.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
        <img src="w3images/house3.jpg" style="width:100%">
      </div>
      <div class="col-sm-6 col-md-3">
        <div>Barn House</div>
        <img src="w3images/house4.jpg" style="width:100%">
      </div>
  </div>
  <br>
  <hr>
  <h2 style="text-align: center;">Servicio comunitario</h2>
  <br>
  <hr>
  <div class="row">
    <div 
        ng-repeat="casa in proyectos"
        class="col-sm-6 col-md-3">
        <!--  <h4>{{ casa.nombre }}</h4> -->
         <a target="_blank" class="dropdown-item" href="{{ casa.url }}">
            <img  src="{{casa.imagen}}" style="width:100%">
        </a>
   </div>
</div>
</section>

