
<section class="container-fluid">
    
    <div class="row" style="text-align:center;">
        <div class="col-sm-6 col-md-3">
          <img src="w3images/Juan Correa.jpg" style="width:100%">
          <h3>Juan Correa</h3>
          <p>Asesor comercial</p>
          <p>Vendedor autormotriz</p>
        </div>
    </div>
</section>

<!-- Page content -->
<section class="container-fluid">    
    <h1 style="text-align: center;">Asesor comercial</h1>
    <h2>
    ASESORÍA (A nivel nacional)
    </h2>
    <h3>
        <ul>
            <li>Presupuestos</li>
        </ul>
    </h3>
</section>

<!-- Page content -->
<section class="container-fluid" style="max-width:1564px">
    <h2 style="text-align:center;">Proyectos Realizados</h2>
    <br>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-3">
          <div>Summer House</div>
          <img src="w3images/house5.jpg" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-3">
          <div>Brick House</div>
          <img src="w3images/house2.jpg" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
          <img src="w3images/house3.jpg" style="width:100%">
        </div>
        <div class="col-sm-6 col-md-3">
          <div>Barn House</div>
          <img src="w3images/house4.jpg" style="width:100%">
        </div>
    </div>
