<header class="container-fluid" style="font-style: italic;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#/">
      <img src="images/principal.jpg" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cursos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
            <a 
              ng-repeat="casa in cursos"
              target="{{casa.target}}" 
              class="dropdown-item" 
              href="{{casa.href}}">
              {{casa.nombre}}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Proyectos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
            <a 
              ng-repeat="casa in proyectos_realizados_luis"
              target="_blank" 
              class="dropdown-item" 
              href="{{casa.href}}">
              {{casa.nombre}}
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Agencia
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">            
            <a class="dropdown-item" href="#/agencia_empresas">Empresas</a>
            <a class="dropdown-item" href="#/agencia_profesionales">Profesionales</a>
            <a class="dropdown-item" href="#/agencia_emprendedores">Emprendedores</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a 
            class="nav-link dropdown-toggle" 
            href="#" 
            id="navbarDpdContactos" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            Contactos
          </a>
          <div id="headerContactosId" class="dropdown-menu" aria-labelledby="navbarDpdContactos">
            <a ng-repeat="casa in contactos" class="dropdown-item" href="{{casa.href}}">{{casa.nombre}} - {{casa.titulo}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#/contacto_empresa">Acerca de</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</header>
