<section class="container-fluid">
    <div ng-model="descripcion_p"  style="text-align: center;">
        <br>
        <hr>
            <h3>{{descripcion_p.titulo}}</h3>
            <p>{{descripcion_p.descripcion}}</p>
            <br>
            <hr>
    </div>
    <div class="row">
        <div 
            ng-repeat="casa in proyectos_realizados_luis"
            class="col-sm-6 col-md-3">
            <!--  <h4>{{ casa.nombre }}</h4> -->
             <a 
                title="{{casa.nombre}}"
                target="_blank" 
                class="dropdown-item" 
                href="{{ casa.href }}">
                <img  src="{{casa.src}}" style="width:100%">
            </a>
       </div>
    </div>
</section>
