<section class="container-fluid">
    <div ng-model="descripcion_p">
        <center>
            <h3>{{descripcion_p.titulo}}</h3>
            <p>{{descripcion_p.descripcion}}</p>
        </center>
    </div>
    <hr>
    <div class="row">
        <div 
            ng-repeat="casa in proyectos"
            class="col-sm-6 col-md-3">
             <h4>{{ casa.nombre }}</h4>
             <a target="_blank" class="dropdown-item" href="{{ casa.url }}">
                <img  src="{{casa.imagen}}" style="width:100%">
            </a>
       </div>
    </div>
</section>
